<aside class="box">
  <h3><b>Why</b></h3>

  <p>Because i don't know where i am and i'm very hungry.</p>
</aside>

<aside class="box">
  <h3><b>Inspiration</b></h3>

  <p>Thank you for <a href="https://www.ifood.com.br/" target="_blank">ifood</a>, <a href="http://www.pedidosja.com.br/" target="_blank">pedidos já</a> and other companies that don't use google maps api to fill form and help user :)</p>
</aside>

<aside class="box">
  <h3><b>Usage</b></h3>

  <p>Click in <b>pick my location</b> button, if you don't know your location and need fill form with your location. When you see the map, add a complement and <b>i'm hungry</b>.</p>
</aside>

<form name="myForm" class="form-horizontal" ng-submit="hungry()">
  <fieldset class="form-group">
    <label for="address" class="col-sm-2 control-label">Address</label>

    <div class="col-sm-10">
      <input type="text" class="form-control" id="address" placeholder="Address" ng-model="user_data.address">
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label for="neighborhood" class="col-sm-2 control-label">Neighborhood</label>

    <div class="col-sm-10">
      <input type="text" class="form-control" id="neighborhood" placeholder="Neighborhood" ng-model="user_data.neighborhood">
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label for="city" class="col-sm-2 control-label">City</label>

    <div class="col-sm-10">
      <input type="text" class="form-control" id="city" placeholder="City" ng-model="user_data.city">
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label for="state" class="col-sm-2 control-label">State</label>

    <div class="col-sm-10">
      <input type="text" class="form-control" id="state" placeholder="State" ng-model="user_data.state">
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label for="complement" class="col-sm-2 control-label">Complement</label>

    <div class="col-sm-10">
      <input type="text" class="form-control" id="complement" placeholder="Complement" ng-model="user_data.complement">
    </div>
  </fieldset>

  <fieldset class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-disabled="!user_data.address" type="submit" class="btn btn-danger">i'm hungry</button>
    </div>
  </fieldset>
</form>

<button class="btn btn-primary btn-block btn-location" ng-click="getUserLocation()">Pick my location</button>

<br>

<div ng-if="msg" class="alert alert-success" role="alert">
  <b>Data:</b> {{ msg }}
</div>

<br>

<!-- <div ng-hide="user_data" layout="row" layout-sm="column" layout-align="space-around">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div> -->

<aside id="map-canvas" class="col-xs-12 map-canvas"></aside>

<aside class="box">
  <h3><b>Browser Support</b></h3>

  <ul class="browser-support">
    <li>
      <img ng-src="../images/ie.png" height="42" width="42" alt="">
      <p>IE 9+</p>
    </li>
    <li>
      <img ng-src="../images/firefox.png" height="42" width="42" alt="">
      <p>Firefox 41+</p>
    </li>
    <li>
      <img ng-src="../images/chrome.png" height="42" width="42" alt="">
      <p>Chrome 43+</p>
    </li>
    <li>
      <img ng-src="../images/safari.png" height="42" width="42" alt="">
      <p>Safari 8+</p>
    </li>
    <li>
      <img ng-src="../images/opera.png" height="42" width="42" alt="">
      <p>Opera 33+</p>
    </li>
  </ul>
</aside>
